<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="supplements">
      <h2 data-cy="supplementsDetailsHeading"><span>Supplements</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ supplements.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ supplements.name }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ supplements.description }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/supplements', supplements.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
