<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-biochemical-test-heading" data-cy="BiochemicalTestCreateUpdateHeading">Create or edit a Biochemical Test</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" for="field_id">ID</label>
          <input type="text" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_testName">Test Name</label>
          <input type="text" class="form-control" name="testName" id="field_testName" data-cy="testName" formControlName="testName" />
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_description">Description</label>
          <textarea
            class="form-control"
            name="description"
            id="field_description"
            data-cy="description"
            formControlName="description"
          ></textarea>
        </div>

        <div class="form-group">
          <label class="form-control-label" for="field_defaultMeasurementType">Default Measurement Type</label>
          <select
            class="form-control"
            id="field_defaultMeasurementType"
            data-cy="defaultMeasurementType"
            name="defaultMeasurementType"
            formControlName="defaultMeasurementType"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                measurementTypeOption.id === editForm.get('defaultMeasurementType')!.value?.id
                  ? editForm.get('defaultMeasurementType')!.value
                  : measurementTypeOption
              "
              *ngFor="let measurementTypeOption of measurementTypesSharedCollection; trackBy: trackMeasurementTypeById"
            >
              {{ measurementTypeOption.label }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
