<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="componentNavigation">
      <h2 data-cy="componentNavigationDetailsHeading"><span>Component Navigation</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ componentNavigation.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ componentNavigation.name }}</span>
        </dd>
        <dt><span>Icon</span></dt>
        <dd>
          <span>{{ componentNavigation.icon }} --> <i [ngClass]="componentNavigation.icon!"></i></span>
        </dd>
        <dt><span>Location</span></dt>
        <dd>
          <span>{{ componentNavigation.location }}</span>
        </dd>
        <dt><span>Roles</span></dt>
        <dd>
          <span>{{ componentNavigation.roles }}</span>
        </dd>
        <dt><span>Parent</span></dt>
        <dd>
          <div *ngIf="componentNavigation.parent">
            <a [routerLink]="['/component-navigation', componentNavigation.parent?.id, 'view']">{{ componentNavigation.parent?.name }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/component-navigation', componentNavigation.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
