<div>
  <h2 id="page-heading" data-cy="PatientBiochemicalTestHeading">
    <span>Patient Biochemical Tests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-patient-biochemical-test"
        [routerLink]="['/patient-biochemical-test/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Patient Biochemical Test </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="patientBiochemicalTests?.length === 0">
    <span>No patientBiochemicalTests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="patientBiochemicalTests && patientBiochemicalTests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="other"><span>Other</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="value"><span>Value</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="patient.name"><span>Patient</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="biochemicalTest.testName"><span>Biochemical Test</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="measurementType.label"><span>Measurement Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patientBiochemicalTest of patientBiochemicalTests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/patient-biochemical-test', patientBiochemicalTest.id, 'view']">{{ patientBiochemicalTest.id }}</a>
          </td>
          <td>{{ patientBiochemicalTest.other }}</td>
          <td>{{ patientBiochemicalTest.value }}</td>
          <td>
            <div *ngIf="patientBiochemicalTest.patient">
              <a [routerLink]="['/patient', patientBiochemicalTest.patient?.id, 'view']">{{ patientBiochemicalTest.patient?.name }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="patientBiochemicalTest.biochemicalTest">
              <a [routerLink]="['/biochemical-test', patientBiochemicalTest.biochemicalTest?.id, 'view']">{{
                patientBiochemicalTest.biochemicalTest?.testName
              }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="patientBiochemicalTest.measurementType">
              <a [routerLink]="['/measurement-type', patientBiochemicalTest.measurementType?.id, 'view']">{{
                patientBiochemicalTest.measurementType?.label
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/patient-biochemical-test', patientBiochemicalTest.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/patient-biochemical-test', patientBiochemicalTest.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(patientBiochemicalTest)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="patientBiochemicalTests && patientBiochemicalTests.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
